
.heading{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.btn{
font-size:  20px;
padding: 10px 20px;
background-color: blue;
color: white ;
border: none;
width: 400px;
display: block;
margin: 10px auto;
}
