.productcard{
    width: 360px;
height: 520px;
box-shadow: 0 0 10px 2px rgb(79, 77, 77);
padding: 0 10px;
}
.product-img{
    width: 100%;
    height: 40%;

}
.product-body{
    width: 100%;
    height: 60%;
    padding-left: 10px;
 
}
.product-name{
    font-size: 35px;
    color: rgb(9, 9, 141);
    text-align: center;
}

.product-price{
    font-size: 25px;
    color: red;
    margin: 10px 0;
}
.discription{
    font-size: 20px;
    color: rgb(9, 9, 63);
}
.buynow-btn{
    width: 90% !important;
    margin:  30px auto !important;
    text-decoration: none;
}