.productcard{
    width: 300px;
height: 500px;
box-shadow: 0 0 10px 2px black;
}
.product-img{
    width: 100%;
    height: 40%;

}
.product-body{
    width: 100%;
    height: 60%;
    padding-left: 10px;
 
}
.product-body div{
    font-size: 20px;
    color: black;
    margin: 20px 0 ;


}